VITE_SITE_URL=https://serratech.tec.br
VITE_CONTACT_EMAIL=contato@serratech.tec.br
VITE_WHATSAPP_URL=https://wa.me/5500000000000
VITE_LINKEDIN_URL=https://www.linkedin.com/company/serratech
VITE_INSTAGRAM_URL=https://www.instagram.com/serratech
